* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
}

body, h2{
    color: fuchsia;
    font-family: sans-serif;
}
body main {
    background-color: #D1E1F0;
}

header {
  display: flex;
  align-items: center;
  padding: 0 20px; /* Añade un espacio entre los bordes del contenedor y los elementos dentro de header */
}

.h2 {
  display: flex;
  margin-right: auto;
  margin-left: 20px; /* Agrega un espacio entre el borde izquierdo del header y los h2 */
}

.h2 h2 {
  margin: 0;
  margin-right: 20px;
}

.logo {
  margin: 0 auto;
}

.logo img {
  display: block;
  max-width: 50%;
}



.carrusel {
    display: flex;
    overflow: hidden;
    width: 100%;
  }
  
  .diapositiva {
    flex-shrink: 0;
    width: 100%;
    transition: transform 2s ease;
  }
  
  .diapositiva img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
  }

.fila {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.categoria.fila, button {
    background-color: white;
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    color: fuchsia;
}

.boton {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 320px;
    border-radius: 30px;
    background-color: white; /* Color de fondo inicial */
    color: fuchsia; /* Color del texto inicial */
    transition: transform 0.3s, background-color 0.3s, color 0.3s; /* Agregamos transiciones para transform, background-color y color */
}


.boton:hover {
    transform: scale(1.1);
    background-color: lightblue; /* Nuevo color de fondo en estado de hover */
    color: #ecf0f1; /* Nuevo color del texto en estado de hover */
}


.boton img {
    margin-right: 40px; /* Ajusta este valor según el espacio que desees entre la imagen y el texto */
    width: 80px;
    height: 80px;
}

footer {
    background-color: #00639D;
    padding: 60px;
    text-align: center;
    color: white;
    
}